
@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/user_odersuccess.css">
}

    <div class="k main-form">
        <div class="k bd-f-note-oder">
            <div class="k f-note-oder">
                <div class="k img-background"></div>
                <div class="k f-text-prd">
                    <div class="k text-apolozine">Cảm ơn  <span class="name-client"></span> đã mua sản ở của hàng <b>HomeShop</b> </div>
                   
                        <span class="k t-code-order">
                            <i class="fa fa-car" aria-hidden="true"></i> Mã số đơn hàng của bạn là:
                            <span class="code"></span>
                        </span>
                       
                        <ul class="k infor-contact">
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>  Thời gian giao hàng dự kiến<span class="time-del">từ 1 đến 3</span> tiếng với các đơn hàng không trong giờ cao điểm</li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> Thông tin đơn hàng được gửi tới email: <span class="email-client"></span>, xin vui lòng kiểm tra thông tin</li>
                            <li>
                                Nếu có thắc mắc hoặc cần trợ giúp, xin vui lòng liên hệ qua: <br />
                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i> hottline: <b>0969.3.999.28</b>
                                <br />  <i class="fa fa-fax" aria-hidden="true"></i> Fax: <b>08.333.833.52</b>
                                <br />  <i class="fa fa-envelope-o" aria-hidden="true"></i> Email:<b>homeshophen@gmail.com</b> 
                            </li>

                        </ul>
                        <span class="k t-code-order">
                            <i class="fa fa-exclamation" aria-hidden="true"></i> <b style="color:red;">Lưu ý: Nếu có rủi ro về đơn hàng của anh(chị) ở các trường hợp như:</b><br />
                           
                            Hủy đơn hàng: Anh(chị) liên hệ lại shop giúp em để bên em làm thủ tục hủy đơn hàng hay thay địa chỉ giao hàng cho anh(chị) qua số điện thoại:<br />
                            <br />  <i class="fa fa-fax" aria-hidden="true"></i> Số điện thoại: <b>08.333.833.52</b>  <i>(Tổng đài 24h phí cuộc gọi 0đ)</i>
                            <br /> <i class="fa fa-fax" aria-hidden="true"></i> Tra cứu đơn hàng Anh(Chị) vui lòng liên hệ số điện thoại trên hoặc qua gmail: homeshophen@gmail.com
                        </span>
                </div>
            </div>
        </div>

        <div class="k bd-f-more-prd">
            <div class="f-more-prd">
                <span class="k tt-more-prd">Có thể bạn quan tâm</span>
                <div class="k bd-item-more">
                    @*<div class="k bd-f-moer-prd">
                        <div class="k img-prd-more"></div>
                        <div class="k f-name-pr-more">
                            <span class="k t-name-pr-more">banh bong lan dac san</span>
                            <span class="k t-price-pr-more">12.000 đ</span>
                        </div>
                    </div>*@
                </div>
               
            </div>
        </div>

    </div>

@section Scripts{
    <script src="~/js/userordersuccess.js"></script>
    <script>
         try {
             var ivid = @ViewBag.ivid;
             getOrder(ivid, bindingOrderById);
        }
        catch (er) {
            //
        }
    </script>
}


